.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header {
  width: 100%;
  height: 65px;
  background-image: linear-gradient(to right, #9C3587, #E53F71);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
}

.header-trollface {
  height: 140%;
  margin-right: 6px;
}

.header-title {
  font-family: 'Karla';
  font-size: 1.25rem;
  margin-top: -6px;
  color: white;
  letter-spacing: -1.5px;
}

.header-title-end {
  margin-right: 40px;
  margin-left: auto;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.75rem;
}

.meme {
  margin: 40px 400px;
}

.meme-input-form {
  display: flex;
  flex: column;
}

.meme-text {
  padding: 10px;
  width: 500px;
  height: 50px;
  font-size: 1.25rem;
  font-family: 'Karla';
  border-radius: 5px;
  text-indent: 5px;
}

.meme-top-text {
  margin-right: auto;
}

.meme-button {
  margin: 40px 0px;
  width: 100%;
  height: 50px;
  font-size: 1.25rem;
  font-family: 'Karla';
  border-radius: 5px;
  background-image: linear-gradient(to right, #E53F71, #9C3587);
  color: white;
  border: none;

}

.meme-image {
  display: flex;
  justify-content: center;
}

.meme--image {
  display: flex;
  width: 90%;
  height: 600px;
}

.counter {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.counter--count {
  position: relative;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  background-color: white;
}

.counter--count h1 {
  font-size: 56px;
  padding-top: 25px;
}

.counter--minus {
  font-size: 30px;
  margin-top: 50px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.counter--plus {
  font-size: 30px;
  margin-top: 50px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}