* {
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  width: 100%;
  height: 70px;
  background-color: #F55A5A;
  padding: 25px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-icon {
  width: 25px;
  margin-right: 5px;
}

.card--main {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.card--detail {
  margin-left: 20px;
}

.card--image {
  object-fit: cover;
  width: 220px;
  height: 260px;
  border-radius: 10px;
}

.card--detail-header {
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
}

.card--detail-header-div {
  display: flex;
  align-items: center;
  font-variant: small-caps;
}

.card--detail-header-pin {
  align-items: center;
  width: 10px;
  height: 14px;
  margin-right: 5px;
}

.card--detail-header-location {
  margin-right: 10px;
}

.card--detail-place {
  font-size: 24px;
  margin-bottom: 15px;
}

.card--detail-duration {
  margin-bottom: 6px;
}

.card--detail-description {
  width: 450px;
}

a:visited, a {
  color: gray;
}