* {
  box-sizing: border-box;
}

.App {
  margin: 20px 550px;
  border-radius: 10px;
  background-color: white;
  height: 360px;
  /* width: 400px; */
}

.BoxCard {
  /* margin-top: 30px; */
  padding-top: 40px;  
}

.FormInput {
  flex-direction: column;
  /* padding: 20px; */
  text-align: center;
}

.FormInput > input {
  height: 40px;
  padding: 0px 10px;
  margin: 10px;
  border-radius: 5px;
  border: 2px solid gray;
}

.CheckBox {
  /* display: flex; */
  margin-top: 6px;
}

.submitButton {
  text-align: center;
}

.submitButton > button {
  margin-top: 20px;
  width: 80px;
  height: 30px;
  background-color: blueviolet;
  color: white;
  border: 2px solid black;
  border-radius: 4px;
}