* {
  box-sizing: border-box;
}

.App {
  height: 100vh;
  background-color:purple;
  display: grid;
  place-items: center;
  /* border-radius: 10px; */
}

.BoxCard {
  /* margin-top: 30px; */
  /* padding-top: 40px;   */
  padding: 50px 45px;
  background-color: white;
  border-radius: 8px;
}

.FormInput {
  flex-direction: column;
  /* padding: 20px; */
  /* text-align: center; */
}

.FormInput > input {
  height: 40px;
  padding: 0px 10px;
  margin: 10px;
  border-radius: 5px;
  border: 2px solid gray;
}

.CheckBox {
  display: flex;
  margin-top: 8px;
  width: 200px;
  padding-left: 10px;
}
.CheckBox > label {
  padding-left: 6px;
  font-weight: 600;
}

.submitButton {
  text-align: center;
}

.submitButton > button {
  /* margin-top: 20px; */
  margin-top: 20px;
  width: 120px;
  height: 40px;
  font-size: 16px;
  background-color: rgb(75, 9, 138);
  color: white;
  border: 2px solid black;
  border-radius: 4px;
}